# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build output
dist
dist-ssr
*.local

# Dependency directories
node_modules

# Environment variables
**/.env      # Ignores .env files in all folders

# IDEs and Editors
.vscode/*
!.vscode/extensions.json   # Keep only extensions.json in .vscode
.idea
.DS_Store

# Visual Studio project files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

